@{
    ViewData["Title"] = "Home Page";
}

@*<div>
    <ejs-calendar id="calendar"></ejs-calendar>
</div>*@

<div class="row mb-4">

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column m-auto py-3" style="text-align:center">
                <span class="lead">Total Master Agreement</span>
                <h1 class="display-6 fw-bold">@ViewBag.MasterAgreementCount</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column m-auto py-3" style="text-align:center">
                <span class="lead">Open Agreements</span>
                <h1 class="display-6 fw-bold">@ViewBag.OpenAgreements</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column m-auto py-3" style="text-align:center">
                <span class="lead">Completed Agreements</span>
                <h1 class="display-6 fw-bold">@ViewBag.ClosedAgreements</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="control-section" align='center'>
            <ejs-accumulationchart id="doughnutchart" title="Top Positions" enableSmartLabels>
                <e-accumulationchart-legendsettings visible="true" position="Top">
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" radius="70%" innerRadius="40%" name="Position" explode=true explodeOffset="10%" explodeIndex=3>
                        <e-accumulationseries-datalabel visible="true" name="text">
                            <e-font fontWeight="600" color="white"></e-font>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
            </ejs-accumulationchart>
        </div>
    </div>

    <div class="col-md-8">
        <div class="text-center" style="text-decoration: underline;">
            <h4>Providers Service score</h4>
        </div>

        </br>

            <div class="text-center">
@*            <ejs-grid id="Grid" dataSource="@ViewBag.Providers" allowSorting="true">
        <e-grid-columns>
                    <e-grid-column headerText="Provider name"  field="ProviderName" textAlign="Center" width="60"></e-grid-column>
                    <e-grid-column headerText="Total Bids" field="TotalBid" textAlign="Center" width="40"></e-grid-column>
                    <e-grid-column headerText="Compltd Projects" field="CompletedProject" textAlign="Center" width="45"></e-grid-column>
                    <e-grid-column headerText="Running Project" field="OngoingProject" textAlign="Center" width="50"></e-grid-column>
                    <e-grid-column headerText="Service score" field="ServiceScore" textAlign="Center" width="45"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>*@
            <ejs-grid id="Grid" dataSource="@ViewBag.ServiceScore" allowSorting="true">
                <e-grid-columns>
                    <e-grid-column headerText="Provider name" field="provider" textAlign="Center" width="100"></e-grid-column>
                    <e-grid-column headerText="Completed Project" field="projects" textAlign="Center" width="100"></e-grid-column>
                    <e-grid-column headerText="Service Score" field="score" textAlign="Center" width="100"></e-grid-column>
                    <e-grid-column headerText="Profiles Offered" field="profilesOffered" textAlign="Center" width="100"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
</div>
     </div>
</div>

<div class="row">
<div class="col-md-6">
        <div class="text-center" style="text-decoration: underline;">
        <h4>Position Rates</h4>
    </div>

    <div class="text-center">
        <ejs-grid id="Grid12" dataSource="@ViewBag.RateList" allowSorting="true" allowFiltering="true" allowGrouping="true">
            <e-grid-columns>
                <e-grid-column headerText="Position Name" field="postion_name" textAlign="Center" width="60"></e-grid-column>
                <e-grid-column headerText="Provider Name" field="provider" textAlign="Center" width="40"></e-grid-column>
                <e-grid-column headerText="Rates" field="rates" textAlign="Center" width="45"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
        </br>
        </br>
       

<div class="col-md-6">
        <div class="text-center" style="text-decoration: underline;">
                <h4>Project Costing</h4> 
            </div>
<ejs-chart id="container">
            <e-chart-primaryxaxis valueType="Category">
    </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Cost (€)" f></e-chart-primaryyaxis>
    <e-series-collection>
        <e-series name="Project" xName="xValue" yName="yValue" dataSource="ViewBag.dataSource1"
                  type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
        </e-series>
    </e-series-collection>
</ejs-chart>
</div>


</div>
    <div class="col-md-12">
    <div class="text-center" style="text-decoration: underline;">
        <h4>Project History</h4>
    </div>

    <div class="text-center">
        <ejs-grid id="Grid2022" dataSource="@ViewBag.dataSource3" allowSorting="true" allowFiltering="true" allowGrouping="true">
            <e-grid-columns>
                <e-grid-column headerText="Project" field="project" textAlign="Center" width="60"></e-grid-column>
                <e-grid-column headerText="Provider Name" field="provider" textAlign="Center" width="60"></e-grid-column>
                <e-grid-column headerText="duration (days)" field="duration" textAlign="Center" width="60"></e-grid-column>
                <e-grid-column headerText="Cost (€)" field="total_cost" textAlign="Center" width="60"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
</div>
